@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Open+Sans&display=swap');

$font-body: "Open Sans", sans-serif;
$font-display: "Nunito", cursive;

$color-primary: #0f054a;
$color-secondary: #149dd8;
$color-black: #333333;
$color-white: #e7e2e2;
$background-color-primary: #fffffa;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-black;
    background-color: $background-color-primary;
}

a:link,
a:visited {
    text-decoration: none;
}

nav {
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 70px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;

    a {
        color: $color-primary;
    }
}

.login-button {
    border: 2px solid $color-primary;
    border-radius: 7px;
    text-align: center;
    padding: 20px 50px;
}

.get-device {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sign-up {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.penguin-one,
.penguin-three {
    border: 2px solid green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.penguin-two,
.penguin-four {
    border: 2px solid green;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footer {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 70px 0;
    margin: auto;

    a {
        padding: 20px
    }
}
