// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');

$font-body: "Open Sans", sans-serif;
$font-display: "Nunito", cursive;

$color-primary: #0f054a;
$color-secondary: #149dd8;
$color-white: #fffafa;
$background-color-primary: #fffffa;
$background-color-secondary: #ffffe0;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-primary;
    background-color: $background-color-primary;
}

a:link,
a:visited {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 70px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;

}

.logo {
    font-size: 100px;
}

.login-button {
    border: 2px solid $color-primary;
    border-radius: 7px;
    text-align: center;
    padding: 20px 50px;
}

.get-device {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img, h1, h2, h3, h4 {
        padding: 30px 30px;
    }

    h1 {
        font-family: $font-display;
        font-size: 50px;
        font-weight: bolder;
        
    }

    h2 {
        font-size: 40px;
    }

    h1, h3 {
        color: $color-secondary;
    } 

    h3 {
        font-size: 35px;
    }

    h4 {
        font-size: 25px;
        font-weight: lighter;
    }
   
}

.button {
    border: 2px solid $color-primary;
    background-color: $color-primary;
    color: $color-white;
    border-radius: 7px;
    text-align: center;
    padding: 20px 90px;
    font-weight: bolder;
    font-size: 30px;
    margin: 60px;

}


.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;

    h2 {
        font-size: 37px;
        font-weight: normal;
    }

    h3 {
        font-size: 28px;
        font-weight: normal;
    }
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}


.penguin-one,
.penguin-three {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 40px 40px;
}

.penguin-two,
.penguin-four {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 40px 40px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 70px 0;
    margin: auto;
    background-color: $background-color-secondary;
    
    a {
        padding: 20px 20px;
        font-weight: bold;
        font-size: 30px;
        background-color: $background-color-secondary;
        
    }
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }
}
